<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
</head>

<body>
<h1>Редактирование профиля</h1>
<form th:action="@{/{id}}" th:object="${user}" th:method="patch">

    Имя: <label>
    <input th:field="*{name}" type="text" id="name" required placeholder="Введите имя"/>
</label>
    <br><br>
    Фамилия: <label>
    <input th:field="*{surname}" type="text" id="Surname" required placeholder="Введите фамилию"/>
</label>
    <br><br>
    Должность: <label>
    <input th:field="*{job}" type="text" id="job" required placeholder="Введите должность"/>
</label>
    <br><br>
    Год рождения: <label>
    <input th:field="*{yearOfBirth}" type="text" id="yearOfBirth" required placeholder="Введите год рождения"/>
</label>
    <br><br>
    <input type="submit" value="Обновить">

    <input type="hidden" th:field="*{id}"/>
</form>
</body>
</html>